<<<<<<< Updated upstream
body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(225, 225, 225);
}

.calendar {
    height: 500px;
    width: 500px;
    background-color: rgb(116, 116, 116);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.calendar-header {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.month-picker {
    border-radius: 10px;
    cursor: pointer;
}

.year-picker {
    display: flex;
    align-items: center;
}

.yaer-change {
    width: 200px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
}

.calendar-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    font-size: 25px;
    color: rgb(255, 255, 255);
=======
.container{
    width: 700px;
    height: 600px;
    /* 置中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* 浮影 */
    border: 1px solid gray;
    box-shadow: 10px 10px 7px gray;
    padding: 20px;

}
    /* 標題年月份字體顏色大小 */
.fc .fc-toolbar-title {
    color: brown;
    font-size: 30px;  
}
/* 每週字體顏色大小 */
.fc th {
    color: blue;
    font-size: 25;
}
/* RWD */
@media (max-width:600px) {
    .container{
        width: 370px;     
    }
    .fc th {
        color: blue;
        font-size: 15px;
    }
    .fc .fc-toolbar-title {
        color: brown;
        font-size: 15px;  
    }
>>>>>>> Stashed changes
}