<!-- Blog Start -->
<!-- 最新消息 Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 500px">
            <h1 class="display-5 mb-3">最新訊息</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a href="./News.html">
                    <img class="img-fluid" src="~/img/blog-1.jpg" alt="" />
                </a>
                <div class="bg-light p-4">
                    <a class="d-block h5 lh-base mb-4 news" href="./News.html">在家自已做提拉米蘇</a>
                    <div class="text-muted border-top pt-4">
                        <small class="me-3"><i class="fa fa-user text-primary me-2"></i>蛋糕教室小編</small>
                        <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <img class="img-fluid" src="~/img/blog-2.jpg" alt="" />
                <div class="bg-light p-4">
                    <a class="d-block h5 lh-base mb-4 news" href="">最新的蛋糕食譜上架啦!!</a>
                    <div class="text-muted border-top pt-4">
                        <small class="me-3"><i class="fa fa-user text-primary me-2"></i>食譜小編</small>
                        <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <img class="img-fluid" src="~/img/blog-3.jpg" alt="" />
                <div class="bg-light p-4">
                    <a class="d-block h5 lh-base mb-4 news" href="">本月蛋糕手作教室時程</a>
                    <div class="text-muted border-top pt-4">
                        <small class="me-3"><i class="fa fa-user text-primary me-2"></i>手作小編</small>
                        <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="~/img/blog-1.jpg" alt="" />
                <div class="bg-light p-4">
                    <a class="d-block h5 lh-base mb-4 news" href="">在家自已做提拉米蘇</a>
                    <div class="text-muted border-top pt-4">
                        <small class="me-3"><i class="fa fa-user text-primary me-2"></i>蛋糕教室小編</small>
                        <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <img class="img-fluid" src="~/img/blog-2.jpg" alt="" />
                <div class="bg-light p-4">
                    <a class="d-block h5 lh-base mb-4 news" href="">最新的蛋糕食譜上架啦!!</a>
                    <div class="text-muted border-top pt-4">
                        <small class="me-3"><i class="fa fa-user text-primary me-2"></i>食譜小編</small>
                        <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <img class="img-fluid" src="~/img/blog-3.jpg" alt="" />
                <div class="bg-light p-4">
                    <a class="d-block h5 lh-base mb-4 news" href="">本月蛋糕手作教室時程</a>
                    <div class="text-muted border-top pt-4">
                        <small class="me-3"><i class="fa fa-user text-primary me-2"></i>手作小編</small>
                        <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="~/img/blog-1.jpg" alt="" />
                <div class="bg-light p-4">
                    <a class="d-block h5 lh-base mb-4 news" href="">在家自已做提拉米蘇</a>
                    <div class="text-muted border-top pt-4">
                        <small class="me-3"><i class="fa fa-user text-primary me-2"></i>蛋糕教室小編</small>
                        <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <img class="img-fluid" src="~/img/blog-2.jpg" alt="" />
                <div class="bg-light p-4">
                    <a class="d-block h5 lh-base mb-4 news" href="">最新的蛋糕食譜上架啦!!</a>
                    <div class="text-muted border-top pt-4">
                        <small class="me-3"><i class="fa fa-user text-primary me-2"></i>食譜小編</small>
                        <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <img class="img-fluid" src="~/img/blog-3.jpg" alt="" />
                <div class="bg-light p-4">
                    <a class="d-block h5 lh-base mb-4 news" href="">本月蛋糕手作教室時程</a>
                    <div class="text-muted border-top pt-4">
                        <small class="me-3"><i class="fa fa-user text-primary me-2"></i>手作小編</small>
                        <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 最新消息 End -->
<!-- Blog End -->