    <!-- Blog Start -->
    <!-- 最新消息 Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
                style="max-width: 500px;">
                <h1 class="display-5 mb-3">課程</h1>
            </div>
            <div class="row g-4">


                <!--  <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <img class="img-fluid" src="img/blog-3.jpg" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4 news" href="">本月蛋糕手作教室時程</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>手作小編</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid" src="img/blog-1.jpg" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4 news" href="">在家自已做提拉米蘇</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>蛋糕教室小編</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                        </div>
                    </div>
                </div> -->

                <!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <img class="img-fluid" src="img/blog-2.jpg" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4 news" href="">最新的蛋糕食譜上架啦!!</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>食譜小編</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                        </div>
                    </div>
                </div> -->

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <img class="img-fluid" src="~/img/blog-3.jpg" alt="">
                    <div class="bg-light p-8">
                    <a class="d-block h3 lh-base mb-8 news" asp-controller="Home" asp-action="Class2">烘培教室時程</a>
                        <!--  <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>手作小編</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                        </div> -->
                    </div>
                </div>
                <br><br><br>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="~/img/blog-1.jpg" alt="">
                    <div class="bg-light p-8">
                    <a class="d-block h3 lh-base mb-4 news" asp-controller="Home" asp-action="Calendar">預約實體課程</a>
                        <!-- <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>蛋糕教室小編</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                        </div> -->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="~/img/blog-1.jpg" alt="">
                    <div class="bg-light p-8">
                    <a class="d-block h3 lh-base mb-4 news" asp-controller="Home" asp-action="Class2">親子活動教室</a>
                        <!-- <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>蛋糕教室小編</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                        </div> -->
                    </div>
                </div>


                <!--  <h3 class="display-2 mb-2 animated slideInDown">課程內容></h3>
                <h5>提拉米蘇</h5>
                <hr>
                <h3>好吃綿密口感細緻的提拉米蘇有著濃烈的咖啡香和酒味，夾層是吸附滿滿咖啡酒液的手指餅乾，搭配馬斯卡彭乳酪餡，表層灑滿無糖可可粉以及
                    層次豐富的乳酪，吃一口則讓人沉醉在其中，絕對是你夜晚的甜點首選。
                </h3>
                <hr>
                <h5>特色配方</h5>
                <h3>💡蛋糕體+二種乳霜餡,交叉搭配舉一反三學習後靈活運用搭配自如
                    <br>
                    💡蛋糕卷的內外卷法技巧
                    <br>
                    💡馬斯卡彭乳酪蛋糕體,基本蛋糕體操作手法和特性
                    <br>
                    💡課程全部使用北海道乳霜鮮奶油35%
                    <br>
                    💡如何打發動物性鮮奶油製作不分離的方式與保存賞味期
                    <br>
                    🉐實作品項每人帶回1條馬斯卡彭乳酪蛋糕卷和品嚐試吃份量的示範品項蛋糕
                </h3>
                <h5>食材</h5>
                <hr>
                <h3>鮮奶油230g
                    <br>
                    馬斯卡彭乳酪520g
                    <br>
                    奶酒10g
                    <br>
                    細砂糖50g
                    <br>
                    濃縮咖啡30g
                </h3>

                <h5>餅乾層</h5>
                <hr>
                <h3>餅乾15g
                    <br>
                    奶酒10g
                    <br>
                    濃縮咖啡60g
                </h3>
                <h5>裝　飾</h5>
                <hr>
                <h3>防潮可可粉 3匙</h3>
                <hr>
                <h5>當日壽星可享優惠</h5>
                <h3>生日當天出示身份證件
                    即可享有優惠2選1:
                    『+$200製作升級款』或『選其他品項折$150』</h3>
                <hr>
                <h5>【注意事項】</h5>
                <h3>● 12歲以下小朋友、寵物、無法入店。
                    <br>
                    ●勿攜帶外食。
                    <br>
                    ● 所有座位皆『保留10分鐘』並需全員到齊，逾時須重新候位。
                    <br>
                    ● 一個時段，皆含2.5小時製作時間。
                    <br>
                    ● 費用依『甜點價格』收費。
                    <br>
                    ● 一份甜點『限』2人陪同。
                    <br>
                    ● 訂1~7位，請『當日現場選擇』製作的品項。
                    <br>
                    ⭐訂8位↑，請電話或私訊訂位。
                </h3>
                <hr>
                <h5>地點</h5>
                <h3>高雄市苓雅區中正路100號 </h3>
                <hr>
                <h5>小提醒</h5>
                <h3>● 店內僅供甜點製作，無法內用。
                    <br>
                    ● 三次(含)以上訂位未到，且未做取消者，半年內將無法再使用線上訂位。
                    <br>
                    ● 若有其他問題，可用line或FB專頁私訊詢問。
                </h3>
                <hr>
                <h5>營業時間</h5>
                <h3>● 3間分店：週一~週日《皆有營業》
                    (休息：提前公告FB粉專)
                    <br>
                    ● 訂位中心(電話/私訊)：週一~週五 09:30~18:30
                    (休息：例假日/國定假日)
                </h3> -->
                <!--  <h5>報名表</h5>
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name" />
                                <label for="name">姓名</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Your Email" />
                                <label for="email">電話</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Subject" />
                                <label for="subject">課程</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message"
                                    style="height: 200px"></textarea>
                                <label for="message">備註(詳細說明當日人數)</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">
                                確定
                            </button>
                        </div>
                    </div>
                </form> -->











                <!-- 
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <img class="img-fluid" src="img/blog-2.jpg" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4 news" href="">最新的蛋糕食譜上架啦!!</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>食譜小編</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <img class="img-fluid" src="img/blog-3.jpg" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4 news" href="">本月蛋糕手作教室時程</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>手作小編</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>2022/06/06</small>
                        </div>
                    </div>
                </div> -->
            </div>

        </div>
    </div>
    <!-- 最新消息 End -->

    <!-- 留言版 Strat -->




    <!-- 留言版 End -->

    <!-- Blog End -->